# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code & IDEs
.vscode/
.idea/

# Datasets and Archives
dataset/
processed/
*.zip
*.rar
*.tar.gz
*.csv

# Model Checkpoints and Weights (large files)
saved_models/*.keras
saved_models/*.h5
collabb/saved_models/
